/*********************************************************************/
/*                                                                   */
/*          Stylesheet Alan Turing Project                           */
/*          Author: Sandra Pirpamer                                  */
/*          Version: 1.0                                             */
/*          Date: December 2023                                      */
/*          Comments: Lenguaje de Marcas Project 1 Trimester         */
/*                                                                   */   
/*********************************************************************/


@font-face {  
    font-family: alanturing;
    src: url(../font/CHECKBK0.TTF)
} 

@font-face {
    font-family: textonormal;
    src: url(../font/OpenSans-Regular.ttf)

}

*{ box-sizing: border-box;
} 

/******************basic styling********************/

body {margin:0; padding: 0;    
    background-color: rgb(41, 37, 37);
    margin: 0;
    font-family: textonormal;}

#wrapper {background-color:white;
        width: 80%;    
        margin:auto;}   

   

/***************************hero page styling*********************************************/
#hero {
    background-image: url(../img/DALL·E\ 2023-11-04\ 21.12.23.jpg);
                    height: 100vh;  
                    background-size: cover; 
                    background-position: center ;
                    position: relative; 
                    
                    background-position: 66%; 
                    
}                  

/*  #hero button {
                /*background-color: rgb(41, 37, 37);
                background-color: white;
                box-shadow: inset;
                border: 1px 1px solid grey;
                color: rgb(9, 50, 235);
                font-weight: bold;
                font-family: alanturing;
                font-size: 1.7em;
                letter-spacing: 3px;
                padding: 5px 10px;;
                border: none;
                border-radius: 10px;
                display: inline;
                position: absolute; 
                top: 7%;  
                left: 35%;
                

 }*/ 

 /********************************button************************************/
#hero .voltage-button {
  position: relative;
}

#hero .voltage-button button {
  /*color: white;
  background: #0D1127;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;
  border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
  position: absolute;
  top: 25%;
  left: 25%;
}*/
background-color: rgb(41, 37, 37);
                background-color: white;
                box-shadow: inset;
                border: 1px 1px solid grey;
                color: rgb(9, 50, 235);
                font-weight: bold;
                font-family: alanturing;
                font-size: 1.7em;
                letter-spacing: 3px;
                padding: 5px 10px;;
      
                border-radius: 5rem;
                display: block;
                position: absolute;
                top: 65px;  
                left: 35%;
}                

#hero .voltage-button button:hover {
  cursor: pointer;
  background: #0F1C53;
}

#hero .voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

#hero .voltage-button svg {
  display: block;
  position: absolute;
  

  width: calc(12% + 0.5em);
  height: calc(300% + 4em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
  left: 35%;
  top:52px;
}

#hero .voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

#hero .voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

#hero .voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 2rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 20%;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}

/*********************************************end button hero page************************************/

 #name {
     font-family: alanturing;
    font-size: 4em;
    font-weight: bold;
    color: rgb(9, 50, 235);
    text-align: left;
    position: absolute;
    margin-left: 1%;
    top: 10px;
 }

 #lastname {
    font-family: alanturing;
    font-size: 5.5em;
    min-height: 70px;
    font-weight: bold;
    color: rgb(9, 50, 235);
    position: absolute;
    top: 130px;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    
 }


        
/********************nav styling inside hero page******************/

.nav {
    position: fixed;  
    z-index: 99; 
}

.topnav {
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: right;
    background-color: black;
    color: white;
    overflow: hidden;
    right: 10px;
    opacity: 70%;
    z-index:98;
       
  }
  
  /******************** Style the links inside the navigation bar */
  .topnav a {
    
    display: flex;
    display: inline;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(9, 50, 235);
    color: rgb(235, 231, 231);
  }
  
  /* Add an active class to highlight the current page */
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .homepage {display: none;}
/*************************end nav styling****************************************/

/**************************sections styling************************/

/*******************************contents section styling***********************/



h2 {
    font-family: alanturing;
    letter-spacing: 3px;
    color: rgb(9, 50, 235);
    
}

blockquote {
    font-style: italic;
    font-size: 1.2em;
    border-left: 4px solid rgb(9, 50, 235);
    padding: 8%;
    
}    

#contents {
    padding: 5%;
    position: relative;

}
 #contents .homepage{
  position: absolute;
  right: 20px;
}


.grid-3{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1%;
}


/******* estilo de la card dentro del grid-3 *********/

/* .card {
position: relative;

margin: auto;
padding: 0px;
display: grid;
align-items: center;
vertical-align: middle;
height: 360px;
} */

.card p {
  display:block;
  width: 100%;
  text-align: center;
  position:absolute;
  font-family: alanturing;
  font-size: 1.5em;
  letter-spacing: 1px;
}

#card-1 p {
  color:#fafafa;
  padding-bottom: 2%;
  
}

#card-2 p {
  color:#0a0a0a;
  top: 0px;
}

#card-3 p {
  color:#fafafa;
}

.card img {
  padding: 3% 10px;
  width: 90%;
  box-shadow:3px 3px 5px #808080;
  border-radius: 10px;
  height: 280px;
  
  
}
.card img:hover{
  box-shadow: 7px 7px 10px  rgba(0,0,0,0.4); 
}

  
  


/* *************color divider*************************************** */


#divider{
  height: 50px;
  background-color: rgb(41, 37, 37);
}

/*******************************biography section styling******************/
#biography {
    padding: 5%;
    position: relative;
    height: 100vh;
  }

#biography .homepage{
    position: absolute;
    right: 20px;
  }
  
.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;} 

.col-2 {padding:4%;}

#introimg {
    display:block;
    margin:auto;
    padding: 15px 10px;
    height: 87%;
    
    max-width: 350px;
    box-shadow:3px 3px 5px #808080;
    border-radius: 10px;
  }


   

/**********************************bombe section styling******************************/
#bombe {
  
    position: relative;
    background-color: rgb(235, 231, 231);
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    padding: 10%;
    height: 100vh;
    text-align: center;
  
}
 
#bombe p{
  padding:20%;
}
#bombe .homepage{
  position: absolute;
  right: 20px;
}


#videocontainer 
  {width: 70%;
  margin: auto;
  
    
  

  
    box-shadow:3px 3px 5px #808080;
    border-radius: 10px;
    position: absolute;
    
}

#bombe p {
  font-family: textonormal;
  font-size: 1.2em;
  padding: 3%;
}
/*****************************************turing test section styling************************/
#turing-test{
    padding: 5%;
    position: relative;
    height: 100vh;

}
#turing-test .homepage{
  position: absolute;
  right: 20px;
}

/***animated accordian styling********/


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}





/******************************************fun facts section styling************************************/


#fun-facts {
    padding: 3%;
    background-color: rgb(235, 231, 231);
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2%;
    position: relative;
    height: auto; /* Cambiado a 'auto' para que la altura sea dinámica según el contenido */
    display: flex;
    flex-direction: column;
}

#fun-facts .homepage {
    position: absolute;
    right: 20px;
}

.funfacts-container {
    display: flex;
    flex-wrap: wrap; /* Cambiado a 'wrap' para que los elementos se envuelvan */
    min-height: 250px; /* Cambiado a 'max-height' para limitar la altura */
    overflow: auto; /* Agregado desbordamiento para permitir desplazamiento vertical si es necesario */
    gap: 1%;
  }

.funfacts_element {
    display: flex;
    flex-direction: column; /* Cambiado a 'row' para que los elementos se alineen horizontalmente */
    flex: 1; /* Añadido para que los elementos ocupen todo el espacio disponible */
    margin: 5px; /* Agregado margen entre elementos */
    background-color: black;
    align-items: center;
    justify-content: center;
  }
/*
.funfacts_element img {
    width: 90%; /* Añadido para que la imagen ocupe el ancho completo de su contenedor */
     /* Añadido para mantener la proporción de la imagen 
    padding:5px;
}


.video-container {
  position: relative;
  padding-bottom: 0; /* Proporción 16:9 para hacer el contenedor responsive 
  overflow: hidden;
  padding: 0 5px;
  vertical-align: middle;
  border-radius: 5px;
}

.funfacts_element .responsive-iframe {
  width: 100%;
  height: 100%;
}
*/
.funfacts_element img,
.funfacts_element iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen o video para cubrir completamente el contenedor */
}









/********************* **************gallery section styling********************************************/
#gallery {
  padding: 5%;
  position: relative;
  height: auto;
}
#gallery .homepage{
position: absolute;
right: 20px;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row{
  height: 100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}









/***************************************about me section styling*********************************/
#aboutme {
    padding: 5%;
    position: relative;
    height: 100vh;
}
#aboutme .homepage{
  position: absolute;
  right: 20px;
}




/***************************************footer styling****************************/

footer {background-color: black;
  color:white;
padding: 4%;
position: relative;}


.grid-3d {
     display:grid;
     
     grid-template-columns: 33% 33% 33%;}

.col-3 {padding:4%;
  
}

footer h3 {margin:20px 0;}

footer .fa {
padding: 15px 10px;
font-size: 1.5em;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;  /* para poner espacio entre las lineas */
border-radius:50%;
}
    
footer a {color:white;
    text-decoration: none;}
/****** redes sociales en footer *****/
footer .fa-facebook {background-color:#3B5998}

footer .fa-telegram {background-color:#55ACEE ;}

footer .fa-whatsapp {background-color: #25D366;}

footer .fa-linkedin {background-color: #0e76a8;}

footer .fa-github {background-color: rgb(10, 10, 10);}
/******* créditos ******************/

/* The Modal (background) */
.modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 10%;
top: 0;
width: 80%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
color:black;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; 
border: 1px solid #888;
width: 80%; }

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} 

#myBtn {cursor:pointer;}


.imagefooter{
  position: relative;
  left: 70%;
  top: 20%;
}

.menufooter {
  position: relative;
  left:50%;
}



footer a p {font-size:1.2em;
      margin-bottom:15px;
      border:hidden;
      padding-left:10px;
      transition:1s;}

footer a p:hover {color:rgb(9, 50, 235);
            border-left:3px solid white;}





/************************************end***********************************/
 
 







 
/*******************************************************REPSPONSIVITY******************************************/


/**********************************media set for bigger screens****************************/



@media only screen and (width<1300px) {
  #hero .voltage-button button {
    
    top: 300px;
    left: 70%;
} 

#hero .voltage-button svg {
  
  left: 70%;
  top:290px;
  width: calc(15% + 2em);
  height: calc(80% + 4.5em);
}

  .topnav a:not(){display: none;} 
  
  .topnav a.icon {
    float: right;
    display: block;
    position: fixed;
  }

  .mobile-container {
      max-width: 980px;
      margin: auto;
    
      height: 600px;
      color: white;
      border-radius: 20px;
    }
    
    .topnav {
      overflow: hidden;
      background-color: transparent;
      position: relative;
      height: 600px;
      width:150px;
      float: right;
    }

    .topnav #nospace {
      background-color: transparent;
    }
    
    .topnav #myLinks {
      display: none;
      
      
    }
  
    #myhome{
      top: 17px;
    }
    
    .topnav a {
  
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2em;
      height: 40px;
      text-align: right;
      display: block;


    }
    
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: white;
      color: rgb(9, 50, 235);
    }
    
     .active {
      
      color: white; 
      height: 25px;

    }

    
    .grid-3 {
      display:grid;
      grid-template-columns: 50% 50%; 
    }

    #introimg{
      max-width: 250px;
    }

}  
/****************styling for tablets**********/

@media only screen and (width<1100px) {
    #wrapper {
        width: 95%;
    }

    #hero .voltage-button button {
    
      top: 800px;
      left: 70%;
  } 

  #hero .voltage-button svg {
    
    left: 70%;
    top:780px;
    width: calc(15% + 3em);
    height: calc(300% + 4.5em);
  }
  
    .topnav a:not(){display: none;} 
    
    .topnav a.icon {
      float: right;
      display: block;
      position: fixed;
    }

    .mobile-container {
        max-width: 980px;
        margin: auto;
       
        height: 600px;
        color: white;
        border-radius: 20px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: transparent;
        position: relative;
        height: 600px;
        width:150px;
        float: right;
      }

      .topnav #nospace {
        background-color: transparent;
      }
      
      .topnav #myLinks {
        display: none;
        
        
      }
    
      #myhome{
        top: 17px;
      }
      
      .topnav a {
    
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.2em;
        height: 40px;
        text-align: right;
        display: block;


      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: white;
        color: rgb(9, 50, 235);
      }
      
       .active {
        /* background-color: #04AA6D;*/
        color: white; 
        height: 25px;
      }
      .grid-3d {
        display:grid;
        grid-template-columns: 50% 50%; 
      }

      .grid-3 {
        display:grid;
        grid-template-columns: 100%; 
      }

      #introimg{
        max-width: 200px;
      }


      .imagefooter {display: none;}

      
    }

    @media (max-width: 800px) {
      .funfacts_element {
          flex-direction: column;
      }
    }


      /*****************************media set styling for mobile devices*************/



@media only screen and (width < 500px){
  #wrapper {
    width: 95%;
  }

  #hero {
    position: relative;
  }

  #hero .voltage-button button {
    position: absolute;
    top: 650px;
    left: 50%;
} 
#hero .voltage-button svg {
  
  left: 50%;
  top:635px;
  width: calc(40% + 1em);
  height: calc(100% + 4.5em);
}


#name {
    top: -20px;
} 

#lastname {
    top: 100px;
}

  .topnav a:not(){display: none;} 
  
  .topnav a.icon {
    float: right;
    display: block;
    position:fixed;
  }

  .mobile-container {
      max-width: 480px;
      margin: auto;
      
      height: 600px;
      
      border-radius: 20px;
    }

  .topnav {
      overflow: hidden;
      background-color: transparent;
      height: 600px;
      width:120px;
      float: right;     
  }

  .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2em;
      height: 40px;
      text-align: right;
      display: block;
    
    }


    .grid-3{
      display: grid;
      grid-template-columns: 100%;
    }

    .grid-3d { 
      display: grid;
      grid-template-columns: 40% 60%;
    } 

    /* .homepage{
      position: relative;
    }
    #contents .homepage{
      position: absolute;
      display: block;
      
    } */

    .grid-2{display: grid;
      grid-template-columns: 100%;

    }
    
    
}
    



 
@media screen and (max-width: 850px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;  
      text-align: right;
    }
 }


    
        
    






