/*********************************************************************/
/*                                                                   */
/*          Stylesheet Alan Turing Project                           */
/*          Author: Sandra Pirpamer                                  */
/*          Version: 1.0                                             */
/*          Date: December 2023                                      */
/*          Comments: Lenguaje de Marcas Project 1 Trimester         */
/*                                                                   */   
/*********************************************************************/


@font-face {  
    font-family: alanturing;
    src: url(../font/CHECKBK0.TTF)
} 

@font-face {
    font-family: textonormal;
    src: url(../font/OpenSans-Regular.ttf)

}
*{ box-sizing: border-box;
} 

/******************basic styling********************/

body {margin:0; padding: 0;    
    background-color: #202020;
    margin: 0;
    font-family: textonormal;}

#wrapper {background-color:white;
        width: 80%;    
        margin:auto;}   

   

/***************************hero page styling*********************************************/
#hero {
    background-image: url(../img/DALL·E\ 2023-11-04\ 21.12.23.jpg);
                    height: 100vh;  
                    background-size: cover; 
                    background-position: center ;
                    position: relative; 
                    
                    background-position: 66%; 
                    
}                  

/*  #hero button {
                /*background-color: rgb(41, 37, 37);
                background-color: white;
                box-shadow: inset;
                border: 1px 1px solid grey;
                color: rgb(9, 50, 235);
                font-weight: bold;
                font-family: alanturing;
                font-size: 1.7em;
                letter-spacing: 3px;
                padding: 5px 10px;;
                border: none;
                border-radius: 10px;
                display: inline;
                position: absolute; 
                top: 7%;  
                left: 35%;
                

 }*/ 

 /********************************button************************************/
#hero .voltage-button {
  position: relative;
}

#hero .voltage-button button {
  /*color: white;
  background: #0D1127;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;
  border: 5px solid #5978F3;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
  position: absolute;
  top: 25%;
  left: 25%;
}*/
background-color: rgb(41, 37, 37);
                background-color: white;
                box-shadow: inset;
                border: 1px 1px solid grey;
                color: rgb(9, 50, 235);
                font-weight: bold;
                font-family: alanturing;
                font-size: 1.7em;
                letter-spacing: 3px;
                padding: 5px 10px;;
      
                border-radius: 5rem;
                display: block;
                position: absolute;
                top: 65px;  
                left: 35%;
}                

#hero .voltage-button button:hover {
  cursor: pointer;
  background: #0F1C53;
}

#hero .voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

#hero .voltage-button svg {
  display: block;
  position: absolute;
  

  width: calc(12% + 0.5em);
  height: calc(300% + 4em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
  left: 35%;
  top:52px;
}

#hero .voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

#hero .voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

#hero .voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 2rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 20%;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}

/*********************************************end button hero page************************************/

 #name {
     font-family: alanturing;
    font-size: 4em;
    font-weight: bold;
    color: rgb(9, 50, 235);
    text-align: left;
    position: absolute;
    margin-left: 1%;
    top: 10px;
 }

 #lastname {
    font-family: alanturing;
    font-size: 5.5em;
    min-height: 70px;
    font-weight: bold;
    color: rgb(9, 50, 235);
    position: absolute;
    top: 130px;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    
 }


        
/********************nav styling inside hero page******************/

.nav {
    position: fixed;  
    z-index: 99; 
}

.topnav {
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: right;
    background-color: black;
    color: white;
    overflow: hidden;
    right: 10px;
    opacity: 70%;
    z-index:98;
       
  }
  
  /******************** Style the links inside the navigation bar */
  .topnav a {
    
    display: flex;
    display: inline;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(9, 50, 235);
    color: rgb(235, 231, 231);
  }
  
  /* Add an active class to highlight the current page */
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
/*************************end nav styling****************************************/

/**************************sections styling************************/

/*******************************contents section styling***********************/



h2 {
    font-family: alanturing;
    letter-spacing: 3px;
    color: rgb(9, 50, 235);
    
}

blockquote {
    font-style: italic;
    border-left: 4px solid rgb(9, 50, 235);
    padding: 10%;
    
}    

#contents {
    padding: 5%;
    position: relative;
}
 #contents .homepage{
  position: absolute;
  right: 20px;
}


/*******************************biography section styling******************/
#biography {
    padding: 5%;
    position: relative;
  }
   #biography .homepage{
    position: absolute;
    right: 20px;
  }
  





/**********************************bombe section styling******************************/
#bombe {
    padding: 5%;
    position: relative;
    background-color: rgb(235, 231, 231);
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2%;
}

#bombe .homepage{
  position: absolute;
  right: 20px;
}



/*****************************************turing test section styling************************/
#turing-test{
    padding: 5%;
    position: relative;

}
#turing-test .homepage{
  position: absolute;
  right: 20px;
}


/******************************************fun facts section styling************************************/

#fun-facts {
    padding: 5%;
    background-color: rgb(235, 231, 231);
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2%;
    position: relative;
}
#fun-facts .homepage{
  position: absolute;
  right: 20px;
}




/***********************************gallery section styling********************************************/
#gallery {
  padding: 5%;
  position: relative;
}
#gallery .homepage{
position: absolute;
right: 20px;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}









/***************************************about me section styling*********************************/
#aboutme {
    padding: 5%;
    margin-bottom: 5px;
    position: relative;
}
#aboutme .homepage{
  position: absolute;
  right: 20px;
}




/***************************************footer styling****************************/

footer {
  background-color: black;
  color: white;
  position: relative;
  height:200pxx;
  padding-top: 2%;
  bottom: 0px;
}

.grid-3 { display: grid;
  grid-template-columns: auto 50% auto;
} 

li {
  list-style-type: none;
  display:inline-flex;
  flex-wrap:wrap;
  padding-top:  20px;
  padding-left: 5%;
  margin-right: 5%;
  padding-bottom: 
  10%;
  
}

#linkssites{
  font-family: Alanturing;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(9, 50, 235);
  padding-bottom: 20px;
}

#copyright {
  padding-top: 110px;
  text-align: right;
  padding-right: 4%;
  
   

}



/************************************end***********************************/
 
 







 



/******************media set for bigger screens****************************/



@media only screen and (width<1100px) {
  #hero .voltage-button button {
    
    top: 300px;
    left: 70%;
} 

#hero .voltage-button svg {
  
  left: 70%;
  top:290px;
  width: calc(15% + 2em);
  height: calc(80% + 4.5em);
}

  .topnav a:not(){display: none;} 
  /* .topnav a:not(:first-child) {display: none;}  */
  .topnav a.icon {
    float: right;
    display: block;
    position: fixed;
  }

  .mobile-container {
      max-width: 980px;
      margin: auto;
     /*  background-color: black; */
      height: 600px;
      color: white;
      border-radius: 20px;
    }
    
    .topnav {
      overflow: hidden;
      background-color: transparent;
      position: relative;
      height: 600px;
      width:150px;
      float: right;
    }

    .topnav #nospace {
      background-color: transparent;
    }
    
    .topnav #myLinks {
      display: none;
      
      
    }
  
    #myhome{
      top: 17px;
    }
    
    .topnav a {
  
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2em;
      height: 40px;
      text-align: right;
      display: block;


    }
    
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: white;
      color: rgb(9, 50, 235);
    }
    
     .active {
      /* background-color: #04AA6D;*/
      color: white; 
      height: 25px;
    }
    

li {
  list-style-type: none;
  display:inline-flex;
  flex-wrap:wrap;
  padding-top:  20px;
  padding-left: 12%;
  margin-right: 9%;
  padding-bottom: 2%;
  
  

  
}

#copyright {
  padding-top: 100px;
  text-align: right;
  padding-right: 10%;
  
   

}

}

/****************styling for tablets**********/

@media only screen and (width<800px) {
    #wrapper {
        width: 95%;
    }

    #hero .voltage-button button {
    
      top: 800px;
      left: 70%;
  } 

  #hero .voltage-button svg {
    
    left: 70%;
    top:780px;
    width: calc(15% + 3em);
    height: calc(300% + 4.5em);
  }
  
    .topnav a:not(){display: none;} 
    /* .topnav a:not(:first-child) {display: none;}  */
    .topnav a.icon {
      float: right;
      display: block;
      position: fixed;
    }

    .mobile-container {
        max-width: 980px;
        margin: auto;
       /*  background-color: black; */
        height: 600px;
        color: white;
        border-radius: 20px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: transparent;
        position: relative;
        height: 600px;
        width:150px;
        float: right;
      }

      .topnav #nospace {
        background-color: transparent;
      }
      
      .topnav #myLinks {
        display: none;
        
        
      }
    
      #myhome{
        top: 17px;
      }
      
      .topnav a {
    
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.2em;
        height: 40px;
        text-align: right;
        display: block;


      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: white;
        color: rgb(9, 50, 235);
      }
      
       .active {
        /* background-color: #04AA6D;*/
        color: white; 
        height: 25px;
      }

      footer {
        height: 150px;
      }
      #copyright {
        padding-top: 80px;
        text-align: right;
        padding-right: 5%;
      
      }
      li {
        list-style-type: none;
        display:inline-flex;
        flex-wrap:wrap;
        padding-top:  8px;
        padding-left: 12%;
        margin-right: 10%;
        padding-bottom: 2%;
        
      
    }
      /*****************************media set styling for mobile devices*************/



@media only screen and (width < 500px){
  #wrapper {
    width: 95%;
  }

  #hero {
    position: relative;
  }
  #hero .voltage-button button {
    position: absolute;
    top: 750px;
    left: 50%;
} 
#hero .voltage-button svg {
  
  left: 50%;
  top:735px;
  width: calc(40% + 1em);
  height: calc(100% + 4.5em);
}


#name {
    top: -20px;
} 

#lastname {
    top: 100px;
}

  .topnav a:not(){display: none;} 
  /* .topnav a:not(:first-child) {display: none;}  */
  .topnav a.icon {
    float: right;
    display: block;
  }
  .mobile-container {
      max-width: 480px;
      margin: auto;
      /*  background-color: black; */
      height: 600px;
      
      border-radius: 20px;
    }

  .topnav {
      overflow: hidden;
      background-color: transparent;
      height: 600px;
      width:120px;
      float: right;     
  }

  .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2em;
      height: 40px;
      text-align: right;
      display: block;
    
    }

    .grid-3 { display: grid;
      grid-template-columns: 30% 70% 50%;
    } 


    footer {
      height:170px;
    }
    li {
      list-style-type: none;
      display:inline-flex;
      flex-wrap:wrap;
      padding-top:  20px;
      padding-left: 1%;
      margin-right: 15%;
      padding-bottom: 2%;
    
    }

    #linkssites{
      font-family: textonormal;
      font-size: 1em;
      color: white;
      letter-spacing: 0px;
    }
    
    #copyright {
      padding-top: 20px;
      text-align: right;
      padding-right: 2%;
      
    }
}


 
@media screen and (max-width: 850px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;  
      text-align: right;
    }
  }


    
        
    






